$media-list-gap: 24px;
$media-link-size: 20px;
$media-link-color: #222;

.media {
	&__list {
		margin-right: $media-list-gap;
		display: inline-block;

		&:last-child {
			margin-right: 0;
		}
	}

	&__link {
		display: block;
		width: $media-link-size;
		fill: $media-link-color;
	}
}
