$header-border-color: #ddd;
$header-fill-color: #fff;
$header-transition-fill: 300ms;
$header-icon-color: #555;

.header {
	padding: 0 30px;
	position: fixed;
	width: 100%;
	top: 0;
	height: 80px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid $header-border-color;
	transition: $header-transition-fill;
	z-index: 10000 !important;
	&--fill {
		background: $header-fill-color;
	}

	&__count {
		position: absolute;
		background: $header-icon-color;
		color: #fff;
		top: 15px;
		right: 20px;
		width: 25px;
		height: 25px;
		border: 1px solid #fff;
		border-radius: 50px;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&__icon {
		width: 30px;
		cursor: pointer;
		fill: $header-icon-color;
	}
}

@media only screen and (max-width: 360px) {
	.header {
		&__logo {
			max-width: 150px;
		}
	}
}
